.main-content {
    display: grid;
    grid-template-columns: minmax(180px, 13%) auto auto auto;
    background-color: var(--main-bg-color);
}

.game-buttons {
    align-self: center;
}

.game-details {
    padding: 1em;   
    width: 50%;
    height: auto;
    align-self: center;    
    background-color: #221712d7;
    border-radius: 3px;
    line-height: 3em;
}

.game-details p {
    color: white;
    border: 1px solid white;
    line-height: 2em;
    margin: 0.5em 0.25em;
    padding: 0.25em;   
}