.main-content {
    display: grid;
    grid-template-columns: minmax(180px, 13%) auto;
    background-color: var(--main-bg-color);
}

.welcome {
    padding: 0 14em;
    line-height: 2em;
    align-self: center;
    justify-self: center;
}

.welcome h1 {
    line-height: 3em;
}

.welcome span {
    color: brown;
}