.main-content {
    display: grid;
    grid-template-columns: minmax(180px, 13%) auto;
    background-color: var(--main-bg-color);
}

.myGames {
    justify-self: center;
    padding-top: 150px;
}

table {
    width: 600px;    
    border-collapse: collapse;
}

table, th, td {    
    border: 1px solid black;
    text-align: center;
}

td, th {
    padding: 0.5em;
}