.main-content {
    display: grid;
    grid-template-columns: minmax(180px, 13%) auto auto auto;
    background-color: var(--main-bg-color);
}

.opening-col img {
    height: 175px;
    width: 175px;
}

.opening-col img:hover {
    height: 175px;
    width: 175px;
    cursor: pointer;
}

.opening-col div {
    margin: 0.5em;
    padding: 0.5em;
    line-height: 2em;
}

.opening-col {
    margin: 1em;
    padding: 1em;
}
