.main-content {
    display: grid;
    grid-template-columns: minmax(180px, 13%) auto 20%;
    background-color: var(--main-bg-color);
}

.playerPool {    
    margin-top: 3em;    
}

.playerPool h2 {
    margin-bottom: 3em;
}
