.main-content {
    display: grid;
    grid-template-columns: minmax(180px, 13%) auto;
    background-color: var(--main-bg-color);
}

.policy {
    padding: 3em 10em;
    line-height: 2em;
    align-self: center;
    justify-self: center;
}

h1, h2 {
    line-height: 50px;
}

ul li:hover a {
    padding-left: 0;
}

.sidebar {
    height: 100%;
}
